<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="site-header">
        <div class="container">
            <h1>Recepti</h1>

            <nav class="main-nav">
                <a href="/">Početna</a>
                <a href="/recipes">Recepti</a>
                <a href="/categories">Kategorije</a>
                <a href="/favorites">Favoriti</a>
                <a href="/my-recipes">Moji recepti</a>
                <a href="/login">Prijava</a>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block contents %}
        {% endblock %}
    </main>

</body>
</html>