{% extends '_layout.html' %}

{% block contents %}

<h2>Kategorije</h2>

<p>Odaberite kategoriju za pregled recepata.</p>

{% if is_admin %}
    <a href="{{ url_for('categories.create') }}">
        Dodaj kategoriju
    </a>
{% endif %}

<ul class="category-list">
    {% for category in categories %}
        <li>
            <a href="{{ url_for(
                'categories.show',
                category_id=category.id
            ) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
