{% extends '_layout.html' %}

{% block contents %}

<h2>Favoriti</h2>

<div id="favorites-list">

    {% for recipe in recipes %}

        <article class="favorite-card">

            <h3>
                <a href="{{ url_for(
                    'recipes.show',
                    recipe_id=recipe.id
                ) }}">
                    {{ recipe.title }}
                </a>
            </h3>

            <p>
                {{ recipe.description }}
            </p>

            <button
                type="button"
                class="favorite-button"
                data-is-favorite="true"
                data-remove-card="true"
                data-add-url="{{ url_for(
                    'favorites.add',
                    recipe_id=recipe.id
                ) }}"
                data-remove-url="{{ url_for(
                    'favorites.remove',
                    recipe_id=recipe.id
                ) }}"
            >
                Ukloni iz favorita
            </button>

        </article>

        <hr>

    {% endfor %}

</div>

<p id="favorites-empty">

    {% if not recipes %}
        Još nemate spremljenih favorita.
    {% endif %}

</p>

<script
    src="{{ url_for(
        'static',
        filename='favorites.js'
    ) }}"
></script>

{% endblock %}