{% extends '_layout.html' %}

{% block contents %}

<h2>Uredi recept</h2>

{% if error %}
    <p class="form-error">
        {{ error }}
    </p>
{% endif %}

<form method="POST">

    <div>
        <label for="title">Naziv:</label>

        <input
            type="text"
            id="title"
            name="title"
            value="{{ recipe.title }}"
            required
        >
    </div>

    <br>

    <div>
        <label for="description">Opis:</label>

        <textarea
            id="description"
            name="description"
            required
        >{{ recipe.description }}</textarea>
    </div>

    <br>

    <div>
        <label for="instructions">Upute:</label>

        <textarea
            id="instructions"
            name="instructions"
            required
        >{{ recipe.instructions }}</textarea>
    </div>

    <br>

    <div class="category-options">

        <p>Kategorije:</p>

        {% for category in categories %}

            <label class="category-option">

                <input
                    type="checkbox"
                    name="categories[]"
                    value="{{ category.id }}"
                    {% if category.id in selected_category_ids %}
                        checked
                    {% endif %}
                >

                {{ category.name }}

            </label>

        {% endfor %}

    </div>

    <br>

    <button type="submit">
        Spremi promjene
    </button>

</form>

{% endblock %}