{% extends '_layout.html' %}

{% block contents %}

<h2>{{ recipe.title }}</h2>

<h3>Opis</h3>
<p>{{ recipe.description }}</p>

<h3>Upute</h3>
<p>{{ recipe.instructions }}</p>

<h3>Kategorije</h3>

{% if categories %}

    <ul>
        {% for category in categories %}
            <li>
                <a href="{{ url_for(
                    'categories.show',
                    category_id=category.id
                ) }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% else %}

    <p>Recept nema dodijeljenu kategoriju.</p>

{% endif %}

<p>
    Autor ID: {{ recipe.user_id }}
</p>

{% if session.get("user_id") == recipe.user_id %}

    <a href="{{ url_for(
        'recipes.edit',
        recipe_id=recipe.id
    ) }}">
        Uredi recept
    </a>

    <form
        method="POST"
        action="{{ url_for(
            'recipes.delete',
            recipe_id=recipe.id
        ) }}"
    >
        <button type="submit">
            Obriši recept
        </button>
    </form>

{% endif %}

{% endblock %}