{% extends '_layout.html' %}

{% block contents %}

<h2>Novi recept</h2>

{% if error %}
    <p class="form-error">
        {{ error }}
    </p>
{% endif %}

<form method="POST">

    <div>
        <label for="title">Naziv:</label>

        <input
            type="text"
            id="title"
            name="title"
            required
        >
    </div>

    <br>

    <div>
        <label for="description">Opis:</label>

        <textarea
            id="description"
            name="description"
            required
        ></textarea>
    </div>

    <br>

    <div>
        <label for="instructions">Upute:</label>

        <textarea
            id="instructions"
            name="instructions"
            required
        ></textarea>
    </div>

    <br>

    <div class="category-options">

        <p>Kategorije:</p>

        {% for category in categories %}

            <label class="category-option">
                <input
                    type="checkbox"
                    name="categories[]"
                    value="{{ category.id }}"
                >

                {{ category.name }}
            </label>

        {% endfor %}

    </div>

    <br>

    <button type="submit">
        Spremi recept
    </button>

</form>

{% endblock %}